.card{
    margin-top: 30px;
    padding: 20px;
    
}
.product-title{
    color: black;
}
.mo_ta p{
    color: black;
}
#pic-1{
	padding: 30px;
}
.price, .price span{
    color: black;
}
.add-to-cart{
    background-color: #C50515;
}
.product-details img{
	width: 100% !important;
}
.tab-pane{
    text-align: center;
}
.st-pd-table{
    width: 400px !important;
}
.st-pd-table td:last-child{
    width:140px !important;
}
.st-pd-table td:first-child{
    width: 40px !important;
}
textarea{
    color: black;
    margin: auto;
    border: #E2E2E1 1px solid;
    resize: none;
}
.comment{
    margin-top: 50px;
}
.comment input[type="submit"]{
    background-color: #C50515;
    border: none;
    padding: 3px 30px;
    border-radius: 50px;
    margin-top: 10px;
}
.comment h3{
    color: black;
}
.splq h3{
    color: black;
}
.splq{
    margin-top: 50px;
}
.sanpham{
    text-align: center;
}
.product-details h1{
    color: black;
}
.product-details p{
    color: black;
}
 @media only screen and (max-width: 426px){
	.st-pd-table{
    width: 360px !important;
}
}